#dataContainer{
    position:fixed;
    height : 100%;
    width: 60cqh;
    right: -60cqh;
    background-color: #444444 ;
    user-select: none;
    transition: all .5s ease;
    z-index: 1;
}



#showData{
    display: none;
    
}

label #openData, label #closeData{
    position: absolute;
    right:5px;
    bottom:10px;
    cursor:pointer;
    color: #444444;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #e8d1ff;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     3.5px 3.5px 20px 0px rgba(0,0,0,.1),
     2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
    z-index: 2;
}

label #closeData{
    opacity: 0;
    visibility: hidden;
}

#showData:checked ~ #dataContainer{
  right: 0;
}

#showData:checked ~ label #openData{
    margin-right: 60cqh;
    opacity: 0;
    visibility: hidden;
}

#showData:checked ~ label #closeData{
    margin-right: 60cqh;
    opacity: 1;
    visibility: visible;
}


#chartContainer{
    height: 30%;
    margin:5%;
    margin-left: 15%;
    margin-bottom: 0;
}

#tableDiv{
    overflow: auto;
    text-align: center;
    height: 52cqh;
}


#controlsData{
    display: flex;
    align-items: center;
    margin:auto;
    margin-bottom: 5%;
}

#xAxisSelectBar{
    display: flex;
    align-items: center;
    container-type:inline-size;
}

#yAxisSelectBar{
    position:absolute;
    left:-25%;
    top:10%;
    width: 60%;
    display: flex;
    align-items: center;
    container-type:inline-size;
    transform:rotate(-90deg)
}

#xAxis{
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    font-size: 3cqw;
}

#xSelect{
    width: 95%;
    display: inline-block;
    margin-top:2%;
}

#ySelect{
    width: 60%;
    display: inline-block;
    margin-top:2%;
}

#yAxis{
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    font-size: 4cqw;
}

#ySelect{
    display: inline-block;
    margin:auto;
}

.axisLetter{
    color:white;
}


#ySelectButton{
    display: block;
    font-weight: bold;
    background-color: #d4ffc5;
    border-style: none;
    border-radius: 10px;
    transition-duration: 200ms;
    padding: 1ch;
    margin-left:20%;
    margin-right:20%;
    width: 20cqh;
    height: 6cqh;
    margin-top:3cqh;
    font-size: 1.6cqh;
}

#ySelectButton:hover{
    background-color: #9AD284;
}

#ySelectButton:active{
    background-color: #9AD284;
    scale:0.95;
}

.variableText{
    color:blue;
}


#xSelectButton{
    display: block;
    font-weight: bold;
    background-color: #d4ffc5;
    border-style: none;
    border-radius: 10px;
    transition-duration: 200ms;
    padding: 1ch;
    margin-left:10%;
    margin-right:10%;
    width: 90cqh;
    height: 4cqh;
    margin-top:1cqh;
    font-size: 1.6cqh;
}

#xSelectButton:hover{
    background-color: #9AD284;
}

#xSelectButton:active{
    background-color: #9AD284;
    scale:0.95;
}

#calcBuoyancyButton{
    display: block;
    font-weight: bold;
    background-color: #ffc8c8;
    border-style: none;
    border-radius: 10px;
    transition-duration: 200ms;
    padding: 1ch;
    margin-left:10%;
    margin-right:10%;
    width: 50cqh;
    height: 4cqh;
    margin-top:1cqh;
    font-size: 1.6cqh;

    display:none;
}

.buoyancyText{
    color:blue;
    font-weight: bolder;
}

#calcBuoyancyButton:hover{
    background-color: #fcadad;
}

#calcBuoyancyButton:active{
    background-color: #fcadad;
    scale:0.95;
}




#chartContainerBuoyancy{
    height: 25%;
    margin:5%;
    margin-left: 15%;
    margin-top: 0;
    margin-bottom: 0;

    display: none;
}

#yAxisSelectBarBuoyancy{
    position:absolute;
    left:-25%;
    top:40%;
    width: 60%;
    display: flex;
    align-items: center;
    container-type:inline-size;
    transform:rotate(-90deg)
}

#yBuoyancy{
    display: block;
    font-weight: bold;
    background-color: #ffc8c8;
    border-style: none;
    border-radius: 10px;
    transition-duration: 200ms;
    padding: 1ch;
    margin-left:20%;
    margin-right:20%;
    width: 20cqh;
    height: 4cqh;
    margin-top:3cqh;
    font-size: 1.8cqh;
}